@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(0.33turn, #002d30, #002031, #001b33, #000000);
  background-size: 400% 400%;
  animation: GradientBackground 27s ease infinite;
}

@keyframes GradientBackground { 
  0%   { background-position: 0%   50%; } 
  50%  { background-position: 100% 50%; } 
  100% { background-position: 0%   50%; } 
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
